.wrapper {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left-box {
    width: 80%;
    float: left;
    height: 150px;
}

.right-box {
    width: 20%;
    float: left;
    height: 150px;
}

.left-name {
    float: left;
}

.left-content {
    clear: both;
}

nav {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar li{
    display: inline-block;
    width: 60px;
    text-align: center;
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
}

.navbar a{
    text-decoration: none;
    color: black;
}