@font-face {
  font-family: '작명';
  src: url();
}

/* 윈도우에서 폰트 부드럽게 해주는 방법  */
p,h4,h3,h2,h1,span {
  transform: rotate(0.03deg);
}

body {
  font-family: 'gulim';
}


.cart-background {
  width: 100%;
  background-color: #c2d3de;
  padding: 30px;
}
td,
th {
  /* border: 1px solid black; */
}

table {
  border-collapse: collapse;
}

.cart-table {
  width: 100%;
  max-width: 700px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
}

.cart-table th,
.cart-table td {
  padding: 15px;
  border-bottom: 1px solid #c2d3de;
}

.cart-table th:nth-child(2) {
  width: 400px;
}

#price {
  text-align: end;
}

h3 {
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

.link {
  text-decoration: none;
}

.link:link {
  color: black;
} 

.link:visited {
  color: aqua;
} 

.bottom-box {
  width: 100%;
  max-width: 700px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.button {
  position: relative;
  top: -10px;
  float: right;
  width: 250px;
  height: 40px;
  background-color: navy;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover{
  background-color: chocolate;
}

.button:active {
  background-color: brown;
}

.button:focus {
  background-color: blue;
}