.flex-item {
  width: 100px;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  color: white; 
}

.flex-container {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: palevioletred;
  height: 40px; 
}

.nav-container {
padding: 0 15px;
}

.nav-item {
  float: left;
}

.nav-item2 {
  float: right;
  margin: 0 30px;
}

