div {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.main-background {
  width: 100%;
  height: 500px;
  background-image: url(../shoes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1px;
  position: relative;
}

.main-title {
  color: white;
  font-size: 40px;
  text-align: center;
}

.main-description {
  color: white;
  font-size: 20px;
  text-align: center;
}

.main-button {
  background: white;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 6px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 150px;
}

.main-button a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.main-button a:visited {
  text-decoration: none;
  color: black;
}

.bottom-box {
  width: 70%;
  max-width: 600px;
  text-align: center;
  padding: 30px;
  background: #eee;
  position: relative;
  top: -100px;
  margin: auto;
  box-sizing: border-box;
}

input[type="text"] {
  padding: 10px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 5px;
}

@media screen and (max-width: 1200px) {
  .main-title {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .main-title {
    font-size: 20px;
  }
}
  
